footer{
    @include flex3(flex,center);
    background-image:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),  url("../img/coffeefy-workafe-sQSouGcgeVA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    
    
    h3{
        color:map-get($colores, color3);
        font-weight:lighter;
        margin: 30px;
        margin-right: 200px;
        margin-left: 200px;
        font-size: 20px;
    }
}