.nuestra-historia{
    @include flex(flex,center,center);
    background-image:url("../img/cacao-corazón-chocolate-riesgo-cardiovascular.jpeg");
    background-position:center;
    background-size: cover;
    background-repeat:no-repeat ;
    width: 100%;
    height: 500px;

}
.titulo-nuestra{
    text-decoration: none;
    color: map-get($colores, color3 );
    font-weight: 300;
    font-size: 80px;
}
.parrafo-inicio-nuestra{
    @include flex2(block,center);
    padding: 0 100px;
    width: 70%;
    margin: 0 auto;
    font-size: 17px;
    line-height: 40px;
    border-bottom: 1px solid rgb(78, 51, 43);
    margin-bottom: 110px;
    color: map-get($colores, color4 );
    
    


}


.parrafo-nuestrah{
    @include flex2(block,center);
    color:#ffff;
    margin: 30px;
    background-color:rgb(107, 72, 61) ;
    width: 100%;
    height: 500px;
    box-sizing:0;
    padding: 100px;
    margin: 0 auto;
    line-height: 40px;
    

}
.h2-nuestra{
    display: flex;
    justify-content: center;
    color: rgb(78, 51, 43);
    margin: 30px;
    margin-top: 45px;
    
}

.la-receta{
    margin: 20px;
    display: flex;
    justify-content: center;
    color:rgb(78, 51, 43);  ;
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
    font-size: 50px;
    padding-bottom: 70px;

    

}