.principal-chocolate{
    @include flex(flex,center,center);
    background-color: map-get($colores, color6 ) ;
    width: 100%;
    height: 400px;

}
.titulo-secundario{
    text-decoration: none;
    color: map-get($colores, color3 );
    font-weight: 300;
    font-size: 80px;
    
}
.inicio-chocolate{
    color: map-get($colores, color4 );
    font-weight: 300 ;
    margin-top: 50px;
    margin-left: 70px;
    margin-bottom: 50px;
    font-size: 22px;

}
.grid-container{
    @include flex3(grid,center);
    grid-template-columns:  repeat(4, 1fr);
    column-gap: 20px;
}
.productos{
    text-align: center;
    margin: 0;
    padding: 30px;
}
.productos{
    img{
        max-width: 100%;
        height: auto;
        transition: 1s;
        cursor: pointer;
        &:hover{
            transform: scale(1.1);
            transition: 1s;
        }
    }
    h3{
        font-size:13px;
        margin-bottom: 30px;
        margin-left: 10px;
        margin-top: 10px;
        text-align: left;
        color: map-get($colores, color4);
    }
    p{
        margin-bottom: 30px;
        margin-left: 10px;
        margin-top: 0px;
        text-align: left;
        color: map-get($colores, color4 );
    }
}
.nombre-producto{
    font-weight: 600;
}