@media(max-width:320px){
    
    .navbar-toggler{
        font-size: 12px;
        color: #fff;
        background-color: rgb(233, 225, 203);

    }
    
    .logo-chocolate1{
        width: 43px;
        height: 43px;
        margin-left: -2px;
        margin-top: -5px;

    }
    
    
    .principal-inicio{
        width: 100%;
        height: 280px;

    }
    .titulo{
        font-size: 33px;
    }
    
    .secundario-inicio{

        font-size: 14px;
        width: 70%;
        margin-top: 50px;
        
    }
    
    .parrafo-inicio{
        width: 90%;
        font-size: 10px;
        line-height: 20px;
        padding: 10px 10px;
    }
    .boton-principal {
        font-size: 10px;
        padding: 4px 4px;
        margin: 5px;
        margin-bottom: 15px;
        border-radius: 7px;
        
    }
    
    footer{
        h3{
        
        margin-right: 15px;
        margin-left: 37px;
        font-size: 12px;
    
    }
}
    .nuestra-historia{
        width: 100%;
        height: 280px;

    }
    .titulo-nuestra{
        font-size: 33px;
    }
    .h2-nuestra{
        font-size: 14px;
        margin-bottom: 5px;

    }
    .parrafo-inicio-nuestra{
        width: 90%;
    font-size: 10px;
    line-height: 20px;
    margin-bottom: 35px;
    padding: 10px 10px;
    }
    .la-receta{
        margin: 10px;
        padding-bottom: 20px;
        font-size: 25px;
    
        
    
    }
    .parrafo-nuestrah{
        font-size: 10px;
        width: 100%;
        height: 450px;
        padding: 10px 10px;
        line-height: 25px;
    
        
    
    }
    .titulo-secundario{
        font-size: 35px;

        
    }
    .principal-chocolate{
        width: 100%;
        height: 280px;

    }
    
    .gluten-free{
        width: 30px;
        

    }
    .titulo-para-el-te{
        font-size: 35px;
    }
    
    .inicio-chocolate{
        font-size: 15px;
        margin-top: 45px;
        margin-left: 45px;
        margin-bottom: 10px;

    
    }
    .grid-container{
        
        grid-template-columns:  repeat(2, 1fr);
        
    }
    .productos{
        h3{
        font-size:10px;
        
    }
    
        p{
        font-size: 10px;

    }
}
    

}



