@media(max-width:1024px){
    
    footer{ 
        h3{
        margin-right: 120px;
        margin-left: 170px;
    
    }
}
    .titulo-nuestra{
        font-size: 70px;
    }
    .titulo-secundario{
        font-size: 75px;
        
    }
    
    .gluten-free{
        width: 50px;


    }
    .titulo-para-el-te{
        font-size: 75px;
    }



}