@media(max-width:920px){
    
    footer{ 
        h3{
        margin-right: 120px;
        margin-left: 150px;
    
    }
}
.parrafo-nuestrah{
    width: 100%;
    height: 500px;
    padding: 80px;
    line-height: 30px;
    

}
}