@media(max-width:520px){
    .titulo{
        font-size: 50px;
        
    }
    
.parrafo-inicio{
    width: 100%;
    font-size: 12px;
    line-height: 30px;
}
    
    
    footer{
    h3{
        margin-right: 35px;
        margin-left: 60px;
        font-size: 15px;
    
    }

}
.parrafo-inicio-nuestra{
    width: 90%;
    margin-bottom: 45px;
    padding: 10px 10px;
}
    .parrafo-nuestrah{
        font-size: 12px;
        width: 100%;
        height: 600px;
        padding: 70px;
        line-height: 30px;
        
    
    }
}