@media(max-width:375px){

    .secundario-inicio{

        font-size: 17px;
        width: 70%;
        margin-top: 50px;
        
    }
    .titulo-nuestra{
        font-size: 40px;
    }
    .h2-nuestra{
        font-size: 17px;
        margin-bottom: 5px;

    }
    .la-receta{
        margin: 10px;
        padding-bottom: 20px;
        font-size: 30px;
    
        
    
    }
    .parrafo-nuestrah{
        font-size: 10px;
        width: 100%;
        height: 380px;
        padding: 17px 17px;
        line-height: 25px;
    
        
    
    }



}