@media(max-width:459px){
    footer{
        h3{
        
        margin-right: 15px;
        margin-left: 34px;
        font-size: 14px;
    
    }
    }
    .parrafo-nuestrah{
        font-size: 12px;
        width: 100%;
        height: 500px;
        padding: 17px 17px;
        line-height: 30px;
        
    
    }
}